menu "Omnitrix config"

    config OMNITRIX_FIMRWARE_IDENTITY
        string "Unique identity name for app"
        default "BlinkCar Factory App v1.0"

    menuconfig OMNITRIX_ENABLE_BLE
        depends on BT_NIMBLE_ENABLED
        bool "Enable BLE component"
        default y

    source "../components/omni_ble/Kconfig.inc"

    menuconfig OMNITRIX_ENABLE_OTA
        bool "Enable OTA component"
        default y

    source "../components/omni_ota/Kconfig.inc"

    menuconfig OMNITRIX_ENABLE_HELLO
        bool "Enable Hello World component"
        default y

endmenu
