menu "Omnitrix config"

    config OMNITRIX_FIMRWARE_IDENTITY
        string "Unique identity name for app"
        default "BlinkCar Factory App v1.0"

    config OMNITRIX_ENABLE_BLE
        bool "Enable BLE component"
        default y

    config OMNITRIX_ENABLE_OTA
        bool "Enable OTA component"
        default y

endmenu
